#thankyou
  :markdown
    ## תודה! ##
    תלונתך מספר <big>#{@complaint.to_param}</big> אושרה.
    
    **תעודת הזהות שלך נמחקה מהמערכת והתלונה תישלח לגורמים הבאים:**
  - if @recipients    
    %ul.recipients
    - @recipients.each do |r|
      %li= r.description

  :markdown
    [לחצ/י כאן על מנת לראות את תדפיס המכתב שיישלח](#{complaint_path(@complaint)})  
    [להורדת המכתב כקובץ PDF](#{complaint_path(@complaint, :format => :pdf)})