%p
  ב-7 בנובמבר 2007 נכנס לתוקפו התיקון השני
  %a{ :href => "http://he.wikipedia.org/wiki/%D7%97%D7%95%D7%A7_%D7%9C%D7%9E%D7%A0%D7%99%D7%A2%D7%AA_%D7%94%D7%A2%D7%99%D7%A9%D7%95%D7%9F_%D7%91%D7%9E%D7%A7%D7%95%D7%9E%D7%95%D7%AA_%D7%A6%D7%99%D7%91%D7%95%D7%A8%D7%99%D7%99%D7%9D_%D7%95%D7%94%D7%97%D7%A9%D7%99%D7%A4%D7%94_%D7%9C%D7%A2%D7%99%D7%A9%D7%95%D7%9F" }
    לחוק למניעת העישון במקומות ציבוריים והחשיפה לעישון
  האוסר על עישון במקומות ציבוריים ומטיל על בעל המקום את האחריות לאכיפת החוק בשטחו.
%p
  אפליקציה זו נוצרה על מנת שכל אדם הסובל מאי-אכיפת החוק במקום ציבורי יוכל לדווח על כך במקום ומכל מכשיר סמארטפון ובכך לעזור לשפר את אכיפת החוק.
.btn-pad
  = link_to("הגש דיווח", new_complaint_path, {:class => "btn btn-primary btn-huge"})