:markdown
  ב-7 בנובמבר 2007 נכנס לתוקפו התיקון השני [לחוק למניעת העישון במקומות ציבוריים והחשיפה לעישון](http://avir-naki.com/AntiSmokingAct.aspx) האוסר על עישון במקומות ציבוריים ומטיל על בעל המקום את האחריות לאכיפת החוק בשטחו.
  
  אפליקציה זו נוצרה על מנת שכל אדם הסובל מאי-אכיפת החוק במקום ציבורי יוכל לדווח על כך במקום ומכל מכשיר סמארטפון ובכך לעזור לשפר את אכיפת החוק.
.btn-pad
  = link_to("הגש דיווח", new_complaint_path, {:class => "btn btn-primary btn-huge"})
- content_for(:scripts) do
  :javascript
    $('a[href^="http://"]').on('click', function() {
      window.open(this.href);
      return false;
    });