#thankyou
  %h2.thanks
    תודה!
  %p
    תלונתך נקלטה במערכת ותישלח לרשות המקומית הרלוונטית בהקדם.
  %p
    מספר התלונה שלך
    %big= @complaint.id 
  %p= link_to("לחצ/י כאן על מנת לראות את תדפיס המכתב שיישלח", :action => :view, :id => @complaint.id)