body {
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  line-height: 18px;
  text-align: right;
}

h2, h3, h4 {
  color: #000;
  margin: 10px 0;
  text-shadow: none;
}

h2 {
  font-size: 120%;
  text-align: center;
}

h3 {
  font-size: 100%;
}

p {
  margin: 5px 0;
}

ol {
  list-style-type: decimal;
  padding-right: 23px;
}

em {
  font-style: normal;
  font-weight: bold;
}

.date {
  float: left;
}

#statement {
  border: 1px solid #000;
  margin-top: 10px;
  padding: 10px;
  font-size: 9pt;

  h3 {
    margin-top: 0;
  }
  dl {
    overflow: hidden;
  }
  dt.first {
    clear: right;
  }
  dd, dt {
    float: right;
    margin: 0 0 0 10px;
    min-height: 1em;
    width: 100px;
  }
  dt {
    border-top: 1px solid #000;
    font-weight: bold;
    margin-top: 10px;
  }
  dd.email, dt.email {
    width: 130px;
  }
  dd.id, dt.id {
    width: 90px;
  }
}
